@use "sass:color";

// Bulma variables color overrides
$primaryColor: #2bac73;
$primaryColorDark: color.scale($primaryColor, $lightness: -15%);

$secondaryColor: #ff914d;
$secondaryColorDark: color.scale($secondaryColor, $lightness: -15%);

@import "../../node_modules/bulma/bulma";

$primary: $primaryColor;

// Bulma button override
:root {
  --bulma-primary-h: 151deg;
  --bulma-primary-s: 65%;
  --bulma-primary-l: 42%;
}

.button.is-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
  color: white;
  transition: all 0.2s ease;
}

.button.is-primary:hover {
  background-color: $primaryColorDark;
  border-color: $primaryColorDark;
  color: white;
}

.button.is-secondary {
  background-color: $secondaryColor;
  border-color: $secondaryColor;
  color: white;
  transition: all 0.2s ease;
}

.button.is-secondary:hover {
  background-color: $secondaryColorDark;
  border-color: $secondaryColorDark;
  color: white;
}

// navbar
.navbar-brand a {
  p {
    color: $primaryColor;
    font-size: 1rem;
  }
  span {
    color: $secondaryColor;
  }
}
.navbar-end a {
  color: $secondaryColor;
}
.is-sticky {
  position: sticky;
  top: 0;
  z-index: 1000; /* дээр харагдахаар */
  background-color: #f5f5f5; /* эсвэл өөр өнгө */
}
.navbar-shadow {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.navbar-brand .image img {
  max-width: 64px;
  height: auto;
}
.navbar-item {
  display: flex;
  align-items: center;
  gap: 8px; /* зураг, текстийн хооронд зай */
}
// Цэсийг баруун тал руу зэрэгцүүлэх. Navbar.js-д .navbar-main-menu классыг ашигласан.
.navbar-main-menu {
  flex-grow: 1;
  justify-content: flex-end;
}
// лого арын өнгө цагаан тул hover хийх үед ялгарч харагдахгүй болгов.
.navbar-brand .logo-item:hover,
.navbar-brand .logo-item:focus,
.navbar-brand .logo-item:active {
  background-color: transparent;
  color: inherit;
  box-shadow: none;
}

// Хайлтын хэсгийн filter хэсэгт scrollbar гаргах тохиргоо.
// SearchFilters.js-д .search-filters классыг ашигласан.
.search-filters {
  overflow-x: auto; /* x тэнхлэгт scroll идэвхжүүлнэ */
  white-space: nowrap; /* мөр таслахгүй, нэг эгнээ байлгах */
}

// aside Хүнсний жагсаалтаас сонгож хайх хэсэг. SerachFilters.js-д .menu классыг ашигласан.
// .menu классыг FoodGroupList.js-д ашигласан.
.menu {
  max-height: 50vh; /* дэлгэцийн өндөрт багтаах */
  overflow-y: auto; /* босоо scrollbar идэвхжүүлнэ */

  overflow-x: auto; /* x тэнхлэгт scroll идэвхжүүлнэ */
  white-space: nowrap; /* мөр таслахгүй, нэг эгнээ байлгах */
}

.sublist {
  margin-left: 0.5rem;
}

.is-hidden {
  display: none;
}
.toggle-sublist {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.toggle-sublist .icon {
  margin-right: 0.5rem;
}

// үндсэн текстийн хэмжээ тохируулна.
.txt {
  line-height: 1.4;
  letter-spacing: 0.3px;
}
// Section h1 хэмжээ тохируулав. searchPage.js txt-h классыг ашигласан.
.txt-h {
  line-height: 1.3;
  letter-spacing: 0.5px;
  margin-bottom: 2rem;
}
// Хайлтын үр дүн харуулах хүснэгтийн үсгийн хэмжээ тохируулав. NutritionTables.js tbl классыг ашигласан.
.tbl {
  font-size: 0.7rem;
}

@media (min-width: 769px) {
  .txt {
    line-height: 1.6;
    letter-spacing: 0.5px;
  }
  .txt-h {
    line-height: 1.4;
    letter-spacing: 0.8px;
  }
  .tbl {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .txt {
    line-height: 1.8;
    letter-spacing: 0.7px;
    margin-top: 2rem;
  }
  .txt-h {
    line-height: 1.5;
    letter-spacing: 1px;
  }
  .tbl {
    font-size: 1rem;
  }
}

// Хүснэгт доторх зураг харуулах тоо бүхий жижиг дугуй
.image-count-tag {
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 999px;
}
.image-count-tag:hover {
  background-color: $primaryColorDark; /* арай бараан ногоон */
}
